<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Factură</title>
    <style>
      body {
        counter-reset: cnt;
      }
      #tabl {
        border-collapse: collapse;
      }
      tr.product {
        counter-increment: cnt;
      }
      #tabl td,
      #tabl th {
        border: 1px solid black;
      }

      p {
        color: red;
      }
      #tabl::after {
        content: 'Numar produse: ' counter(cnt);
        display: inline-block;
        width: 120px;
        margin: 15px 0;
      }
    </style>
    <link rel="stylesheet" href="<%= locals.protocol %>://<%= locals.domeniu %>:8080/assets/css/factura.css" type="text/css" />
  </head>
  <body>
    <h1>Factură BMASkates</h1>
    <p>Stimate <%= `${locals.user.nume} ${locals.user.prenume}` %>, aveti aici lista de produse cumparate.</p>
    <p>Data cumparare: <%= locals.data_cumparare %></p>

    <table id="tabl">
      <thead>
        <tr>
          <th></th>
          <th>Nume produs</th>
          <th>Pret</th>
          <th>Cantitate</th>
          <th>Brand</th>
          <th>TVA inclus</th>
          <th>Categorie</th>
          <th>Descriere</th>
          <th>QR</th>
        </tr>
      </thead>

      <tbody>
        <% 
          let suma = 0; 
          for (let prod of locals.produse) { 
            suma += parseFloat(prod.produs.pret) * parseInt(prod.cantitate); 
            %>
            <tr class="product">
              <td>
                <img width="64" height="64" src="<%= `${locals.protocol}://${locals.domeniu}:8080` + '/img/produse/' + prod.produs.imagine %>" alt="">  
              </td>
              <td><%= prod.produs.nume %></td>
              <td><%= prod.produs.pret %></td>
              <td><%= prod.cantitate %></td>
              <td><%= prod.produs.brand %></td>
              <td><%= prod.produs.tva ? 'Da' : 'Nu' %></td>
              <td><%= prod.produs.categorie %></td>
              <td><%= prod.produs.descriere %></td>
              <td>
                <img width="64" height="64" src="<%= `${locals.protocol}://${locals.domeniu}:8080/img/qrcode/` + prod.produs.id + '.png' %>" alt="">  
              </td>
            </tr>
          <% 
          } 
        %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">Total: <%= suma %></td>
        </tr>
      </tfoot>
    </table>

    <div class="qr-produse">
      <img width="128" height="128" src="<%= `${locals.protocol}://${locals.domeniu}:8080/img/qrcode/qr-produse.png` %>" alt="">  
    </div>
  </body>
</html>
