<%- include('../fragmente/header') %>

<main id="acasa" class="page-content container">
  <%- include('../fragmente/watermark') %>

  <section id="prezentare" class="latest">
    <h1 class="page-title" style="font-size: 32px; text-align: center;">BMASkates. For those who like adrenaline.</h1>

    <% if(locals.user){ %>
      <div class="welcome-user" style="margin-bottom: 70px;">
        <img height="64" src="<%= locals.user.cale_imagine ? locals.user.cale_imagine.slice(7) : 'img/default-user-avatar.png'  %>" alt="">
        <span style="font-size: 26px;">Bine ai venit, <%= locals.user.username %>!</span>
      </div>
    <% } %>

    <h2>Ultimul produs</h2>
    <a class="image-click" href="img/skateboard-enuff-icon-pink.jpg">
      <figure>
        <picture>
          <!-- phone -->
          <source srcset="img/skateboard-enuff-icon-pink-phone.jpg" media="(max-width: 575px)" />
          <!-- tablet -->
          <source srcset="img/skateboard-enuff-icon-pink-tablet.jpg" media="(max-width: 992px)" />
          <!-- desktop -->
          <img src="img/skateboard-enuff-icon-pink.jpg" alt="skateboard-enuff" />
        </picture>
        <figcaption>Skateboard-ul Enuff Icon</figcaption>
      </figure>
    </a>
  </section>

  <section id="orar">
    <table id="tab-orar">
      <caption align="bottom">Program</caption>
      <thead>
        <tr>
          <th>Zi</th>
          <th>Dimineata</th>
          <th>Pauza</th>
          <th>Seară</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Luni - Vineri</td>
          <td>10-14</td>
          <td>14-15</td>
          <td>15-20</td>
        </tr>
        <tr>
          <td>Sambata</td>
          <td>10-13</td>
          <td>13-14</td>
          <td>14-17</td>
        </tr>
        <tr>
          <td colspan="2">Duminica</td>
          <td colspan="2">Inchis</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="evenimente">
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, cumque possimus ipsum unde optio ex quod sunt eos nemo, odio totam voluptatibus. Nihil minus animi laboriosam. Impedit in quod at. </span>
  </section>

  <section id="anunturi">
    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores voluptatem illo velit reprehenderit. Reiciendis, culpa omnis. Quod voluptates culpa quos saepe eligendi veritatis repudiandae hic quis, quam nulla pariatur molestiae?</span>
  </section>

  <section id="utilizatori-online">
    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores voluptatem illo velit reprehenderit. Reiciendis, culpa omnis. Quod voluptates culpa quos saepe eligendi veritatis repudiandae hic quis, quam nulla pariatur molestiae?</span>
  </section>

  <section id="informatii-utilizator">
    <span>IP-ul tau curent este: <%= locals.ip %></span>
  </section>

  <section id="informatii-site">
    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores voluptatem illo velit reprehenderit. Reiciendis, culpa omnis. Quod voluptates culpa quos saepe eligendi veritatis repudiandae hic quis, quam nulla pariatur molestiae?</span>
    <!-- <h2>About <abbr title="Bardita Mihai Andrei">BMA</abbr>Skates</h2>

    <p>BMASkates comes from the CEO-Founder of the shop, Bardita Mihai Andrei. It is an abbreviation. We here go by the quote <q>When nothing is true, everything is permitted</q> and we think that this summarizes what skating actually mean. Being true to your cause, to your passions and when there are lies, then there needs to be justice. The <b>rebel soul</b> takes <b>action</b>. Come to the shop and find out what <strong>your</strong> young soul's all about</p>

    <p>Inspiration: <a href="https://www.skates.ro/" target="_blank">Skates RO</a>.</p>
    <p>All about skateboards, longboards & pennyboards. Yes, we even have protective gear & helmets.</p> -->
  </section>

  <section id="legends">
    <h2>A few of the iconic legends of skateboarding</h2>

    <div class="iframe-container">
      <iframe name="legend-skaters" width="560" height="315" src="https://www.youtube.com/embed/OOg-4mtA3Zo" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="toggle-buttons">
        <a class="toggle-btn" href="https://www.youtube.com/embed/OOg-4mtA3Zo" target="legend-skaters">Tony Hawk</a>
        <a class="toggle-btn" href="https://www.youtube.com/embed/ChWchYqNNJQ" target="legend-skaters">Rodney Mullen</a>
      </div>
    </div>
  </section>

  <section id="video-section">
    <video poster="/img/skate-video-poster.jpeg" playsinline autoplay muted controls>
      <source src="/video/skate-video.mp4" type="video/mp4">
      <source src="/video/skate-video.ogv" type="video/ogv">
      <track default src="/video/tracks/subtitrare.vtt" kind="captions" srclang="ro" label="romana">
      <track src="/video/tracks/subtitrare-en.vtt" kind="captions" srclang="en" label="engleza">
    </video>
  </section>

</main>

<%- include('../fragmente/topLink') %>

<%- include('../fragmente/footer') %>