<%- include('../fragmente/header') %>

<main id="produse-page" class="page-content container">
  <%- include('../fragmente/watermark') %>

  <section id="title-section">
    <h2 class="page-title">Produse</h2>
  </section>

  <section class="produse">
    <div class="row">
      <% for(let produs of locals.produse) { %>
        <article id="artc-<%= produs.id %>" class="col-lg-4 produs <%= produs.categorie %>">
          <div class="master-container">
            <a href="/produse/<%= produs.id %>"><h3 class="titlu-produs">Nume: <%= produs.nume %></h3></a>
            <div class="disk column-1">
              <a href="/produse/<%= produs.id %>"><img class="imagine-produs" src="/img/produse/<%= produs.imagine %>" alt=""></a>
              
              <ul class="caracteristici">
                <li class="caracteristica">
                  <span class="bold">Pret:</span>
                  <%= produs.pret %>
                </li>
                <li class="caracteristica">
                  <span class="bold">Brand:</span>
                  <%= produs.brand %>
                </li>
                <li class="caracteristica">
                  <span class="bold">In stoc:</span>
                  <%= produs.in_stoc ? 'Da' : 'Nu' %>
                </li>
                <% if(produs.in_stoc) { %>
                  <li class="caracteristica">
                    <span class="bold">Magazine disponibile:</span>
                    <%= produs.magazine_stoc.join(', ') %>
                  </li>
                <% } %>
                <li class="caracteristica">
                  <span class="bold">Data aparitiei:</span>
                  <time datetime="<% produs.data_adaugare %>">
                    <%
                      let dataDB = new Date(produs.data_adaugare.toString());
                      let weekDay = dataDB.toLocaleDateString("ro", { weekday: "long" })
                      let data = dataDB.toLocaleDateString("ro", { day: "numeric", month: "long", year: "numeric" })
      
                      const fullDate = `${data}, ${weekDay}`;
                      __append(fullDate);
                    %>
                  </time>
                </li>
              </ul>
            </div>
            <div class="disk column-2">
              <div>
                <span class="bold">Categorie:</span> 
                <%= produs.categorie %>
              </div>
              <div>
                <span class="bold">Descriere:</span>
                <%= produs.descriere %>
              </div>
            </div>
          </div>
        </article>
      <% } %>
    </div>
  </section>

</main>

<%- include('../fragmente/footer') %>
