<%- include('../fragmente/header') %>
<% let produs = locals.produs; %>

<main id="produs-page" class="page-content container">
  <%- include('../fragmente/watermark') %>

  <div>Nume: <%= produs.nume %></div>
  <div>Descriere: <%= produs.descriere %></div>
  <div>Pret: <%= produs.pret %></div>
  <div>Brand: <%= produs.brand %></div>
  <div>Tip: <%= produs.tip_produs %></div>
  <div>Categorie: <%= produs.categorie %></div>
  <img height="128" src="/img/produse/<%= produs.imagine %>" alt="">
</main>

<%- include('../fragmente/footer') %>
